body
{
    margin : 0px;
}

a
{
    text-decoration : none;
    color : #e5e7eb;
}

.main-flex-container
{
    display : flex;
    flex-direction : column;
    padding : 0px;
}

.intro
{
    background-color : #1f2937;
    padding : 0 100px 72px 100px;
}

.header
{
    display : flex;
    justify-content : space-between;
    margin : 0px;
    margin-bottom : 24px;
}

.header h2
{
    color : #faf9f8;
    font-size : 24px;
}

.header ul
{
    display : flex;
    gap : 8px;
    align-items : center;
    list-style-type : none;
    color : #e5e7eb;
    font-size : 18px;
    margin : 0px;
    padding : 0px;
}

.welcome 
{
    display : flex;
    justify-content : space-between;
    align-items : center;

}

.welcome .left-elements
{
    display : flex;
    flex-direction : column;
    gap : 10px;
    margin : 0 15px;
}
.welcome .left-elements .main-text
{
    color : #f9faf8;
    font-size : 48px;
    font-weight : bolder;
}

.welcome .left-elements .secondary-text
{
    color : #e5e7eb;
    font-size : 18px;
}

.welcome .left-elements .sign-up
{
    background-color : #3882f6;
    border-radius : 5px;
    border-color : #3882f6;
    border-style: solid;
    padding : 4px 16px;
    align-self :flex-start;
    color : #f9faf8;
    font-size : 18px;
    font-weight : bold;
}

.information
{
    display : flex;
    flex-direction : column;
    align-items : center;
    margin : 50px 0;
}

.information .information-cards
{
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
}

.information img
{
    border : 5px solid lightblue;
    border-radius : 10px;
    max-width : 200px;
}

.second, .third, .fourth, .fifth
{
    max-width : 200px;
    text-align: center;
    margin : 20px;
}

.header-text
{
    color : #1f2973;
    font-size : 36px;
    font-weight : 1000;
}

.quote-section
{
    display :flex;
    flex-direction : column;
    justify-content : center;
    padding : 100px 200px;
    background-color : #e5e7eb;
    font-size : 36px;
    font-style : italic;
}

.quote-resource
{
    text-align : right;
    padding-right : 20px;
    font-weight : bold;
    margin-top : 20px;
}

.call-to-action .wrapper
{
    display : flex;
    justify-content : space-around;
    align-items : center;
    gap : 150px;
    background-color : #3882f6;
    border-radius : 10px;
    padding : 50px 100px;
}

.call-to-action
{
    align-self : center;
    padding : 100px 100px;
}


.call-to-action .wrapper .text h2, p
{
    margin : 0 25px;
}

.call-to-action .wrapper .text
{
    font-size : 20px;
    color : #f9faf8;
}

.call-to-action .wrapper .text p
{
    color : #e5e7eb;
}

.wrapper .sign-up
{
    background-color : transparent;
    border : 2px solid white;
    color : #f9faf8;
    font-size : 20px;
    padding : 5px 25px;
    border-radius : 5px;
    margin : 0 25px;
    white-space : nowrap;
}


.footer
{
    background-color : #1f2937;
    padding : 50px 125px;
    text-align : center;
    color : #f9faf8;
    font-size : 20px;
}

